.cardButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px solid #8dd5b0;
  background-color: #339999;
  color: white;
  filter: drop-shadow(2px 2px 0px #222);

  border-radius: 2rem;
  padding: 0.5rem;
  /* width: 10rem;
  height: 8rem; */
  width: 10rem;
  height: 8rem;

  text-decoration: none;
  text-transform: uppercase;
}

.cardButton p {
  /* margin-top: 0.5rem; */
  font-family: 'Pokemon GB', 'Orbitron',  sans-serif;
  font-size: 12px;
}

.cardButton:active {
  background-color: #2b8383;
}

.cardButton:hover .image {
  filter: drop-shadow(4px 4px 4px rgb(36, 34, 34));
}

.image {
  filter: drop-shadow(0.5px 0.5px 0.5px #222);
}
