.cardButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 2px solid #8DD5B0;
  background-color: #339999;
  color: white;
  
  border-radius: 2rem;
  padding: 0.5rem;
  width: 10rem;
  height: 8rem;

  text-decoration: none;
  text-transform: uppercase;
}

.cardButton:active {
  background-color: #2b8383;
}

.image {
  filter: drop-shadow(0.5px 0.5px 0.5px #222);
}