.comments {
  display: flex;
  gap: 5rem;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  border: 2px solid #8dd5b0;
  background-color: #339999;

  border-radius: 2rem;
  padding: 1rem;
  width: 30rem;
  height: 26rem;
  gap: 1rem;

  text-align: center;
  font-size: 1.5rem;
}

.data {
  display: flex;
  flex-direction: column;
}

.dataName input,
.dataEmail input {
  border-radius: 0.5rem;
  padding: 0.2rem;
  width: 29em;
  height: 2em;
}

.commentBox {
  display: flex;
  flex-direction: column;

  gap: 0.2rem;
}

.commentBox textarea {
  border-radius: 1rem;
  width: 28em;
  height: 7em;
  padding: 0.5rem;

  resize: none;
}

.button {
  color: white;
  border: 2px solid #8dd5b0;
  background-color: #339999;

  padding: 0.8rem;
  border-radius: 1rem;
  font-size: 1.3rem;
}

.button:active {
  background-color: #3badad;
  font-size: 1.4rem;
}

.currentComments {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: center;

  color: white;
  border: 2px solid #8dd5b0;
  background-color: #339999;

  width: 30rem;
  height: 26rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;

  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: auto;
}

.currentComments::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1114px) {
  .comments {
    flex-direction: column;
    align-items: center;

    width: 15rem;
    gap: 2rem;
  }

  .commentsContainer {
    width: 15rem;
  }

  .dataName input,
  .dataEmail input {
    width: 15em;
    height: 2em;
  }

  .commentBox textarea {
    width: 12em;
    height: 5em;

    resize: none;
  }
  .currentComments {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border: 2px solid #8dd5b0;
    background-color: #339999;
    color: white;

    width: 15em;
    height: 27em;

    margin-bottom: 1rem;
    border-radius: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: auto;
  }
}
