.container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.data {
  width: 60%;
  flex-direction: column;
  display: flex;
  align-items: center;
  font-size: 3rem;
  color: white;
}

.description {
  font-size: 1.5rem;
  width: 70%;
  text-align: center;
}

.detailsReturn a {
  font-size: 1.5rem;
  padding: 1rem;
  border: 2px solid #8DD5B0;
  color: white;
  background-color: #339999;
  border-radius: 1rem;
  position: absolute;
  text-decoration: none;
  margin-left: 3rem;
}

.name {
  text-transform: uppercase;
}

.commentPosition{
  display: flex;
  justify-content: center;
}

.dataContainer {
  text-align: center;
  font-size: 1.5rem;
  border-radius: 2rem;
  padding: 1rem;
  border: 2px solid #8DD5B0;
  gap: 0.2rem;
  color: white;
  background-color: #339999;
  margin: 2rem;
}

.specs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
  text-transform: uppercase;
}

.ID {
  text-align: center;
  font-size: 3rem;
  color: white;
}


@media screen and (max-width: 690px) 
  {.container {
    flex-direction: column;
    align-items: center;
  }
  .specs {
    justify-content: center;
    align-items: center; 
    margin: 0.5rem;
    gap: 1rem;
  }
  .name {
    font-size: 24px;
  }
  .description {
    margin-top: 0.5rem;
    font-size: 16px;
    width: 100%;
  }
  .detailsReturn a {
    position: relative;
    margin: 0;
  
  }
  .detailsReturn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dataContainer {
    font-size: 16px;
  }

}


.container p {
  font-family: "Orbitron", sans-serif;
}

.label {
  stroke: black;
}

.pokemonImg {
  filter: drop-shadow(5px 5px 5px #222);
}